<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dulces Sueños</title>

    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/carrito.css">
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="images/icons/logo.ico">

</head>

<body>

    <%- include('partials/header.ejs'); -%>
    <%- include('partials/carrito.ejs'); -%> 
        <main class="main">
            
            <section class="banner">
                <div class="texto">
                    <h2>Dulces Sueños</h2>
                    <p>Pasteleria 100% artesanal</p>
                </div>      
            </section>
            
            <section class="masVendidos">
                <h4>Destacados</h4>
                <div class="cards" id="cards">

                    <% productos.map( (producto) => { %>
                    <div class="card">
                        <div class="img">
                            <img src="<%= producto.img_url %>" alt="Img">
                        </div>
                        
                        <h4><%= producto.nombre %></h4>
                        <p><%= producto.descripcion %></p>
                        <p>$<span><%= producto.precio %></span></p>
    
                    </div>
                    <% }) %>

            </div>
            </section>



        </main>


        <%- include('partials/footer.ejs'); -%>

</body>

</html>